body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  background-color: white;
  box-sizing: border-box;
  --service-1-color: rgb(66, 71, 105);
  --service-1-color-trans: rgb(66, 71, 105, 0.5);
  --service-2-color: rgb(112, 119, 161);
  --service-2-color-trans: rgb(112, 119, 161, 0.5);
  --service-3-color: rgb(45, 50, 80);
  --service-3-color-trans: rgb(45, 50, 80, 0.5);
  --service-4-color: rgb(246, 177, 122);
  --service-4-color-trans: rgb(246, 177, 122, 0.5);
}

h1 {
  font-size: 40px;
  margin: 0;
}
.nav-container {
}

.nav-container a {
  text-decoration: none;
}
.nav-container .item {
  padding: 16px 16px;
  text-align: left;
}

.topbar {
  box-shadow: 1px 1px 5px grey;
  height: 112px;
  background-color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (min-width: 768px) {
    justify-content: center;
  }
}
.topbar .icon {
  display: block;
  position: absolute;
  right: 40px;
  font-size: x-large;
  background-color: white;
  border: none;
  @media only screen and (min-width: 768px) {
    display: none;
  }
}
.clickies {
  margin-right: 24px;
  display: none;
  @media only screen and (min-width: 768px) {
    margin-right: 40px;
    display: flex;
  }
}
.clickie {
  padding: 8px 8px;
  text-align: left;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
  @media only screen and (min-width: 900px) {
    margin-left: 16px;
    padding: 16px 16px;
    margin-right: 16px;
  }
}

.hero-container {
  overflow: hidden;
  position: relative;
  height: calc(100vh - 112px);
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}

.hero {
  aspect-ratio: 13/8;
  max-height: calc(100vh - 112px);
  width: 100%;
  object-fit: cover; /* Prevent the image from stretching and fill the container */
  object-position: 50% 15%;
}
.hero-desks {
  object-position: 50% 35%;
}

@media only screen and (max-width: 767px) {
  .hero {
    width: auto; /* Let the width be determined by the aspect ratio of the image */
    height: 100vh; /* Set the height to 100% of the viewport height */
    object-fit: cover; /* Prevent the image from stretching and fill the container */
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.logo {
  margin-left: 16px;
  max-height: 56px;
  cursor: pointer;
  @media only screen and (min-width: 768px) {
    max-height: 72px;
    margin-right: 56px;
  }
  @media only screen and (min-width: 900px) {
    max-height: 72px;
    margin-right: 80px;
  }
}
.headline {
  min-width: 350px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  @media only screen and (min-width: 767px) {
    top: 20%;
    left: 10%;
    transform: translate(0, 0);
  }
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  color: white;
  position: absolute;
}
.uno {
  opacity: 0;
  animation: fadeIn 3s forwards;
}
.dos {
  opacity: 0;
  animation: fadeIn 3s forwards;
  animation-delay: 2s;
}

.tres {
  opacity: 0;
  animation: fadeIn 3s forwards;
  animation-delay: 3s;
}

.row {
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 960px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 500px;
}

.kickass-row {
}

.kickabout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  position: relative;
  background-color: #00031c;
}
.america {
  min-height: 400px;
  max-height: 480px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 40%;
}
.kickass {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 480px;
  position: relative;
}
.kickass .line-container,
.kickabout .line-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-dark-container {
  background-color: #4e555b;
  display: flex;
  justify-content: center;
}

.logo-dark {
  max-height: 400px;
  overflow: hidden;
}

.line {
  color: white;
  max-width: 800px;
  margin: 16px;
}
.footer-row {
  background-color: #3b3b41;
  color: white;
  width: 100%;
  margin-bottom: 0px;
}

.footer {
  padding: 32px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (min-width: 600px) {
    flex-direction: row;
  }
}
.social-media {
  width: 50%;
}
.contact-us {
  width: 50%;
}
.icons i {
  margin-left: 8px;
  margin-right: 8px;
}
.expertise-row {
  width: 100%;
  color: white;
  background-color: #69686e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expertise {
  max-width: 991px;
  min-height: 1080px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;

  @media only screen and (min-width: 600px) {
    min-height: 500px;
    flex-direction: wrap;
  }
}

.expertise div {
  margin: 8px 16px;
  border-radius: 5%;
  max-width: 400px;
  background-color: #a9a8ab;
  min-height: 360px;
  min-width: calc(33% - 32px);
  @media only screen and (min-width: 600px) {
    margin: 32px;
  }
}

.expertise div .copy {
  padding-left: 16px;
  padding-right: 16px;
}
.svg {
  margin-top: 16px;
  max-height: 40px;
  max-width: 40px;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.draw-logo {
  max-width: 100%;
}
.wwd-container {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
}
.draw {
  width: calc(100% - 80px);
  border: red;
  margin: 40px;
  @media only screen and (min-width: 768px) {
    width: calc(45% - 80px);
  }
}
.why {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  @media only screen and (min-width: 768px) {
    width: 55%;
  }
}

.why h1 {
  padding: 0 16px;
}
.why p {
  padding: 16px;
}

.about-us {
  max-width: 960px;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
  @media only screen and (min-width: 500px) {
    padding: 50px;
  }
}
.about-us .copy {
  max-width: 800px;
  margin: auto;
}

.about-us h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.about-us p {
  padding: 8px;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.about-us h2 {
  margin-top: 56px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-us .leaders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
  @media only screen and (min-width: 700px) {
    flex-direction: row;
  }
}

.about-us .leaders .leader {
  width: 300px;
  padding: 0 8px;
  margin: 0 8px;
}
.about-us .leaders .leader-container.order-1 {
  @media only screen and (max-width: 700px) {
    order: 1;
  }
}
.about-us .leaders .leader-container.order-2 {
  @media only screen and (max-width: 700px) {
    order: 2;
  }
}
.about-us .leaders .leader-container.order-3 {
  @media only screen and (max-width: 700px) {
    order: 3;
  }
}

.leader-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-us .leader img {
  display: block;
  margin: 0 auto 10px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.about-us .leader h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-us .leader p {
  font-size: 16px;
  line-height: 1.5;
}

.office {
  max-width: 100%;
}
.office img {
  aspect-ratio: 754/317;
  max-width: 100%;
}
.whiteboard img {
  max-width: 100%;
  opacity: 0.3;
}
.about-us-container {
  max-width: 100%;
}
/* Prevent default blue link clickie thing */
a {
  color: inherit;
}

.interested {
  margin-top: 32px;
  margin-bottom: 32px;
}
.connect {
  margin-bottom: 64px;
  font-size: 16px;
}
.contact-container {
  margin: 128px 8px;
}
.typings input {
  padding: 0 8px;
  max-width: 400px;
  min-width: 240px;
  font-size: 16px;
  height: 32px;
}

@media only screen and (min-width: 500px) {
  .typings input {
    min-width: 400px;
  }
}

.typings {
  margin: 16px;
}
.message {
  min-height: 56px;
}

.services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media (min-width: 600px;) {
  }
}
.service {
  height: 500px;
  width: 100%;
  @media (min-width: 600px) {
    width: 50%;
  }
  @media (min-width: 1200px) {
    width: 25%;
  }
}
.service-headline {
  height: 72px;
  border: solid black 2px;
  color: white;
}
.service-body-container {
  height: calc(100% - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-body {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.service-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensure the overlay is above the background image */
}
.service-body-1::before {
  background: var(--service-1-color-trans);
}

.service-body-2::before {
  background: var(--service-2-color-trans);
}

.service-body-3::before {
  background: var(--service-3-color-trans);
}

.service-body-4::before {
  background: var(--service-4-color-trans);
}

.service-1 {
  background-color: var(--service-1-color);
}
.service-2 {
  background-color: var(--service-2-color);
}
.service-3 {
  background-color: var(--service-3-color);
}
.service-4 {
  background-color: var(--service-4-color);
}

/* Green Row v */

.green-row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.green-container {
}
.green-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media only screen and (min-width: 668px) {
    display: flex;
    flex-direction: row;
  }
}
.green-slot {
  width: 100%;
  margin: 8px;
  padding: 8px;
  max-width: 320px;
}
.green-title {
  min-height: 48px;
  margin: 16px;
}

.green-img {
  width: 100%;
}

/* Green Row ^ */
